/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .community-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.footer-left-side {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-right-side {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
} */
